/* public/css/contact.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.contact-info {
    text-align: center;
    margin-bottom: 40px;
}

.contact-info h1 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.icon img {
    width: 50px;
    margin: 0 10px;
}
