body {
    background-color: #F9FAFA;
    padding: 0; /* Menambahkan jarak di dalam body */
    margin: 80px; /* Menambahkan jarak di luar body */
}

.bg-light-green {
    background-color: #D6EFD8;
}

h4 {
    font-weight: bold;
    background-color: #4a684c;
    padding: 10px;
    margin: 0; /* Menghilangkan margin default */
    width: 100vw; /* Menyeting lebar menjadi 100% dari viewport width */
   color: #F9FAFA;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



